In [1]:
import mysql.connector
print("connector is connected")

connector is connected

In [ ]:
# CONNECT TO MYSQL
import mysql.connector

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password=""
)

if conn.is_connected():
    print("Connected to MySQL successfully!")

conn.close()

Connected to MySQL successfully!

In [ ]:
# DATABASE CREATION
import mysql.connector
conn = mysql.connector.connect(host="localhost", user="root", password="")
cursor = conn.cursor()
my_db = "niyomukiza_theotime_lab"
try:
    cursor.execute(f"CREATE DATABASE {my_db} ")
    print("Database created successfully!")
except:
    print(f"Failed to create database called: {my_db}")

Failed to create database called: niyomukiza_theotime_lab

In [ ]:
# TABLE USER
import mysql.connector

# Establish connection to MySQL server (no database selected yet)
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password=""
)
cursor = conn.cursor()


# Select (use) the database
cursor.execute(f"USE {my_db}")

# OPTIONAL: Create the roles table to support the foreign key in user table
cursor.execute("""
    CREATE TABLE IF NOT EXISTS roles (
        role_id INT AUTO_INCREMENT PRIMARY KEY,
        role_name ENUM('active','inactive')
    )
""")

# Create the user table
cursor.execute("""
    CREATE TABLE IF NOT EXISTS user (
        user_id INT AUTO_INCREMENT PRIMARY KEY,
        fname VARCHAR(255) NOT NULL,
        lname VARCHAR(255) NOT NULL,
        username VARCHAR(255) NOT NULL,
        email VARCHAR(255) NOT NULL UNIQUE,
        phone VARCHAR(255) NOT NULL,
        password VARCHAR(255) NOT NULL,
        role_id INT,
        status ENUM('Active', 'Inactive') NOT NULL DEFAULT 'Active',
        FOREIGN KEY (role_id) REFERENCES roles(role_id)
    )
""")

print("Table 'user' created successfully!")

# Clean up
cursor.close()
conn.close()

Table 'user' created successfully!

In [ ]:
# TABLE COMPUTERS
import mysql.connector

# Establish connection to MySQL server (no database selected yet)
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password=""
)
cursor = conn.cursor()

# Specify your database
my_db = "niyomukiza_theotime_lab"

# Select (use) the database
cursor.execute(f"USE {my_db}")


#  Create the computers table
cursor.execute("""
    CREATE TABLE IF NOT EXISTS computers (
        computer_id INT AUTO_INCREMENT PRIMARY KEY,
        computer_name VARCHAR(255) NOT NULL,
        status ENUM('available', 'reserved', 'under maintenance') NOT NULL DEFAULT 'available'
    )
""")

print("Table 'resevation' created successfully!")

# Clean up
cursor.close()
conn.close()

Table 'computers' created successfully!

In [ ]:
# TABLE RESERVATION
import mysql.connector

# Establish connection to MySQL server (no database selected yet)
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password=""
)
cursor = conn.cursor()

# Specify your database
my_db = "niyomukiza_theotime_lab"

# Select (use) the database
cursor.execute(f"USE {my_db}")


#  Create the reservation table
cursor.execute("""
    CREATE TABLE IF NOT EXISTS reservation (
        reservation_id INT AUTO_INCREMENT PRIMARY KEY,
        user_id INT NOT NULL,
        computer_id INT NOT NULL,
        reservation_date DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
        reservation_status ENUM('active', 'completed', 'cancelled') NOT NULL DEFAULT 'active',
        FOREIGN KEY (user_id) REFERENCES user(user_id),
        FOREIGN KEY (computer_id) REFERENCES computers(computer_id)
    )
""")

print("Table 'reservation' created successfully!")

# Clean up
cursor.close()
conn.close()

Table 'reservation' created successfully!

In [ ]:
# TABLEMAINTENANCE
import mysql.connector

# Establish connection to MySQL server (no database selected yet)
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password=""
)
cursor = conn.cursor()

# Specify your database
my_db = "niyomukiza_theotime_lab"

# Select (use) the database
cursor.execute(f"USE {my_db}")

# Create the maintenance table
cursor.execute("""
    CREATE TABLE IF NOT EXISTS maintenance (
        maintenance_id INT AUTO_INCREMENT PRIMARY KEY,
        computer_id INT NOT NULL,
        maintenance_date DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
        description VARCHAR(255) NOT NULL,
        FOREIGN KEY (computer_id) REFERENCES computers(computer_id)
    )
""")

print("Table 'maintenance' created successfully!")

# Clean up
cursor.close()
conn.close()

Table 'maintenance' created successfully!

In [ ]:
# TABLE USER ROLES CREATION

import mysql.connector

# Establish connection to MySQL server (no database selected yet)
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password=""
)
cursor = conn.cursor()

# Specify your database
my_db = "niyomukiza_theotime_lab"

# Select (use) the database
cursor.execute(f"USE {my_db}")

# Create the user_roles table
cursor.execute("""
    CREATE TABLE IF NOT EXISTS user_roles (
        role_id INT AUTO_INCREMENT PRIMARY KEY,
        role_name ENUM('Admin', 'Student', 'Technician') NOT NULL DEFAULT 'Admin'
    )
""")

print("Table 'user_roles' created successfully!")

# Clean up
cursor.close()
conn.close()

Table 'user_roles' created successfully!

In [29]:
import mysql.connector

# Establish connection to MySQL server (no database selected yet)
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password=""
)
cursor = conn.cursor()

# Specify your database
my_db = "niyomukiza_theotime_lab"

# Select (use) the database
cursor.execute(f"USE {my_db}")

cursor.execute("""
    INSERT INTO roles (role_name) 
    VALUES ('active'), ('inactive')
""")
conn.commit()  # Make sure to commit the transaction

In [ ]:
# INSERT
import mysql.connector

# Establish connection to MySQL server (no database selected yet)
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password=""
)
cursor = conn.cursor()

# Specify your database
my_db = "niyomukiza_theotime_lab"

# Select (use) the database
cursor.execute(f"USE {my_db}")

# Ensure the roles exist (if needed)
cursor.execute("""
    INSERT INTO roles (role_name) 
    VALUES ('active'), ('inactive')
""")
conn.commit()  # Commit the transaction to insert roles

# Insert data into the user table
cursor.execute("""
    INSERT INTO user (fname, lname, username, email, phone, password, role_id, status) 
    VALUES 
    ('theotime', 'niyomukiza', 'theotime', 'theo@gmail.com', '1234567890', 'drew', 1, 'Active'),
    ('RW', 'one', 'redz', 'redzrw@gmail.com', '0987654321', 'drum', 2, 'Inactive')
""")
conn.commit()  # Commit the transaction to save the data

print("Data inserted successfully!")

# Clean up
cursor.close()
conn.close()

Data inserted successfully!

In [ ]:
# SELECT

import mysql.connector

# Establish connection to MySQL server (no database selected yet)
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password=""
)
cursor = conn.cursor()

# Select (use) the database
my_db = "niyomukiza_theotime_lab"  # Replace with your actual database name
cursor.execute(f"USE {my_db}")

# Select active users
cursor.execute("SELECT * FROM user WHERE status = 'Active'")

# Fetch all rows from the executed query
active_users = cursor.fetchall()

# Print the results
for user in active_users:
    print(user)

# Clean up
cursor.close()
conn.close()

(1, 'theotime', 'niyomukiza', 'theotime', 'theotime359@gmail.com', '1234567890', 'drew', 1, 'Active')
(11, 'theotime', 'niyomukiza', 'theotime', 'theo@gmail.com', '1234567890', 'drew', 1, 'Active')

In [ ]:
# UPDATE

import mysql.connector

# Establish connection to MySQL server (no database selected yet)
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password=""
)
cursor = conn.cursor()

# Specify your database
my_db = "niyomukiza_theotime_lab"

# Select (use) the database
cursor.execute(f"USE {my_db}")

# Example update: Change status and phone of a user based on email
cursor.execute("""
    UPDATE user 
    SET status = 'Inactive', phone = '0788267654'
    WHERE email = 'theo@gmail.com'
""")
conn.commit()  # Commit the transaction to save the changes

print("User data updated successfully!")

# Clean up
cursor.close()
conn.close()

User data updated successfully!

In [ ]:
# ORDER BY DESCENDING

import mysql.connector

# Establish connection to MySQL server (no database selected yet)
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password=""
)
cursor = conn.cursor()

# Specify your database
my_db = "niyomukiza_theotime_lab"

# Select (use) the database
cursor.execute(f"USE {my_db}")

# Retrieve all users ordered by user_id in descending order
cursor.execute("""
    SELECT * FROM user
    ORDER BY user_id DESC
""")

# Fetch and print the results
for row in cursor.fetchall():
    print(row)

# Clean up
cursor.close()
conn.close()

(12, 'RW', 'one', 'redz', 'redzrw@gmail.com', '0987654321', 'drum', 2, 'Inactive')
(11, 'theotime', 'niyomukiza', 'theotime', 'theo@gmail.com', '0788267654', 'drew', 1, 'Inactive')
(2, 'RW', 'one', 'redz', 'redz@gmail.com', '0987654321', 'drum', 2, 'Inactive')
(1, 'theotime', 'niyomukiza', 'theotime', 'theotime359@gmail.com', '1234567890', 'drew', 1, 'Active')

In [ ]:
# INNER JOIN

import mysql.connector

# Establish connection to MySQL server (no database selected yet)
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password=""
)
cursor = conn.cursor()

# Specify your database
my_db = "niyomukiza_theotime_lab"

# Select (use) the database
cursor.execute(f"USE {my_db}")

# Perform an INNER JOIN between user and roles
cursor.execute("""
    SELECT user.user_id, user.fname, user.lname, user.username, user.email, user.phone, user.status, roles.role_name 
    FROM user
    INNER JOIN roles ON user.role_id = roles.role_id
""")

# Fetch and print the results
for row in cursor.fetchall():
    print(row)

# Clean up
cursor.close()
conn.close()

(1, 'theotime', 'niyomukiza', 'theotime', 'theotime359@gmail.com', '1234567890', 'Active', 'active')
(2, 'RW', 'one', 'redz', 'redz@gmail.com', '0987654321', 'Inactive', 'inactive')
(11, 'theotime', 'niyomukiza', 'theotime', 'theo@gmail.com', '0788267654', 'Inactive', 'active')
(12, 'RW', 'one', 'redz', 'redzrw@gmail.com', '0987654321', 'Inactive', 'inactive')

In [ ]:
# DEACTIVATE STATUS

import mysql.connector

# Establish connection to MySQL server (no database selected yet)
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password=""
)
cursor = conn.cursor()

# Specify your database
my_db = "niyomukiza_theotime_lab"

# Select (use) the database
cursor.execute(f"USE {my_db}")

# Deactivate a user by email
cursor.execute("""
    UPDATE user
    SET status = 'Inactive'
    WHERE email = 'theo@gmail.com'
""")
conn.commit()  # Commit the transaction to save the changes

print("User status updated to 'Inactive'!")

# Clean up
cursor.close()
conn.close()

User status updated to 'Inactive'!

In [45]:
# INSERT INTO COMPUTER TABLE

import mysql.connector

# Establish connection to MySQL server (no database selected yet)
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password=""
)
cursor = conn.cursor()

# Specify your database
my_db = "niyomukiza_theotime_lab"

# Select (use) the database
cursor.execute(f"USE {my_db}")

# Insert records into the computers table
cursor.execute("""
    INSERT INTO computers (computer_name, status) 
    VALUES 
    ('LENOVO 1', 'available'),
    ('MAC 2', 'reserved'),
    ('HP 3', 'under maintenance')
""")

conn.commit()  # Commit the transaction to save the data

print("Data inserted into 'computers' table successfully!")

# Clean up
cursor.close()
conn.close()

Data inserted into 'computers' table successfully!

In [46]:
# SELECT IN COMPUTER TABLE
import mysql.connector

# Establish connection to MySQL server
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password=""
)
cursor = conn.cursor()

# Specify your database
my_db = "niyomukiza_theotime_lab"

# Select (use) the database
cursor.execute(f"USE {my_db}")

# Select records where status is 'available'
cursor.execute("SELECT * FROM computers WHERE status = 'available'")

# Fetch and print the results
for row in cursor.fetchall():
    print(row)

# Clean up
cursor.close()
conn.close()

(1, 'Computer 1', 'available')
(4, 'LENOVO 1', 'available')

In [ ]:

# UPDATE
import mysql.connector

# Establish connection to MySQL server
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password=""
)
cursor = conn.cursor()

# Specify your database
my_db = "niyomukiza_theotime_lab"

# Select (use) the database
cursor.execute(f"USE {my_db}")
cursor.execute("""
    UPDATE computers
    SET status = 'available'
    WHERE status = 'under maintenance'
""")
conn.commit()
print("All under maintenance computers updated to 'available'.")

# Clean up
cursor.close()
conn.close()

All under maintenance computers updated to 'available'.

In [49]:
#ORDER BY DESC
import mysql.connector

# Establish connection to MySQL server
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password=""
)
cursor = conn.cursor()

# Specify your database
my_db = "niyomukiza_theotime_lab"

# Select (use) the database
cursor.execute(f"USE {my_db}")

# Select all records from the computers table ordered by computer_id in descending order
cursor.execute("""
    SELECT * FROM computers
    ORDER BY computer_id DESC
""")

# Fetch and print the results
for row in cursor.fetchall():
    print(row)

# Clean up
cursor.close()
conn.close()

(6, 'HP 3', 'available')
(5, 'MAC 2', 'reserved')
(4, 'LENOVO 1', 'available')
(3, 'Computer 3', 'available')
(2, 'Computer 2', 'reserved')
(1, 'Computer 1', 'available')

In [ ]:
#DEACTIVATE STATUS
import mysql.connector

# Establish connection to MySQL server
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password=""
)
cursor = conn.cursor()

# Specify your database
my_db = "niyomukiza_theotime_lab"

# Select (use) the database
cursor.execute(f"USE {my_db}")

# Update the status of a computer (for example, change status to 'under maintenance')
cursor.execute("""
    UPDATE computers
    SET status = 'under maintenance'
    WHERE computer_name = 'LENOVO 1'
""")

# Commit the transaction to save the changes
conn.commit()

print("Computer status updated to 'under maintenance'.")

# Clean up
cursor.close()
conn.close()

Computer status updated to 'under maintenance'.

In [51]:
#INSERT INTO USER ROLES
import mysql.connector

# Establish connection to MySQL server
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password=""
)
cursor = conn.cursor()

# Specify your database
my_db = "niyomukiza_theotime_lab"

# Select (use) the database
cursor.execute(f"USE {my_db}")

# Insert multiple records into the user_roles table
cursor.execute("""
    INSERT INTO user_roles (role_name)
    VALUES
    ('Admin'),
    ('Student'),
    ('Technician')
""")

# Commit the transaction to save the data
conn.commit()

print("Data inserted into 'user_roles' table successfully!")

# Clean up
cursor.close()
conn.close()

Data inserted into 'user_roles' table successfully!

In [53]:
# INSERT INTO RESERVATION TABLE

import mysql.connector

# Establish connection to MySQL server
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password=""
)
cursor = conn.cursor()

# Specify your database
my_db = "niyomukiza_theotime_lab"

# Select (use) the database
cursor.execute(f"USE {my_db}")

# Insert records into the reservation table
cursor.execute("""
    INSERT INTO reservation (user_id, computer_id, reservation_date, reservation_status) 
    VALUES 
    (1, 2, '2025-03-17 10:00:00', 'active'),
    (2, 3, '2025-03-18 11:00:00', 'active')
""")

# Commit the transaction to save the data
conn.commit()

# Fetch and display all the rows from the reservation table
cursor.execute("SELECT * FROM reservation")

for row in cursor.fetchall():
    print(row)

# Clean up
cursor.close()
conn.close()

(1, 1, 2, datetime.datetime(2025, 3, 17, 10, 0), 'active')
(2, 2, 3, datetime.datetime(2025, 3, 18, 11, 0), 'active')

In [54]:
#INSERT INTO MAINTENANCE
import mysql.connector

# Establish connection to MySQL server
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password=""
)
cursor = conn.cursor()

# Specify your database
my_db = "niyomukiza_theotime_lab"

# Select (use) the database
cursor.execute(f"USE {my_db}")

# Insert records into the maintenance table
cursor.execute("""
    INSERT INTO maintenance (computer_id, maintenance_date, description) 
    VALUES 
    (1, '2025-03-17 09:00:00', 'Routine checkup'),
    (2, '2025-03-18 10:00:00', 'Hardware repair'),
    (3, '2025-03-19 11:00:00', 'Software update')
""")

# Commit the transaction to save the data
conn.commit()

# Fetch and display all rows from the maintenance table
cursor.execute("SELECT * FROM maintenance")

for row in cursor.fetchall():
    print(row)

# Clean up
cursor.close()
conn.close()

(1, 1, datetime.datetime(2025, 3, 17, 9, 0), 'Routine checkup')
(2, 2, datetime.datetime(2025, 3, 18, 10, 0), 'Hardware repair')
(3, 3, datetime.datetime(2025, 3, 19, 11, 0), 'Software update')